
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
}

* {
    font-family: "Inter" !important;
    margin: 0 !important;
}

.container {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    /* border: 2px solid black !important; */
}

/* .col {
    border: 2px solid black !important;
} */

/* navbar */
nav {
    background-color: #EFF4FE !important;
}
/* navbar end */

/* header */
.header-title {
    font-size: 4.25rem;
}

.header-title > span {
    color: #0C75FF !important;
}
/* header end */

/* intro */
.intro-title > span {
    color: #0C75FF !important;
}

.intro-btn {
    border: 1px solid black !important;
}
/* intro end */

/* analytics */
.analytics-title > span {
    color: #0C75FF !important;
}
.analytic-collapse-container {
    border: 2px solid #0C75FF40 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 24px 0px;
}
.accordion-button {
    color : white !important;
    background-color : #F4AE3B !important;
    border-radius : 15px !important;
    padding: 25px 20px !important;
    font-weight : bold !important;
}
.collapsed {
    color: black !important;
    background-color : white !important;
    font-weight : 500 !important;
    padding-right: 35px !important;
}
.accordion-button::after {
    background-image: url("/asset/image/index/arrow-right.svg") !important;
    background-size: 30px;
    width: 30px;
    height: 30px;
    transform: rotate(0deg) !important;
}
  
.accordion-button.collapsed::after {
    background-image: url("/asset/image/index/arrow-right-1.svg") !important;
}
/* analytics end */

/* data */
.data-title > span {
    color: #0C75FF !important;
}
/* data end */

/* organize */
.organize-title > span {
    color: #0C75FF !important;
}
.card-title {
    font-size: 22px !important;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 24px 0px;
}
/* organize end */

/* decision */
.decision-container {
    background-color: #0C75FF !important;
    padding-left: 7.5vw !important;
    padding-right: 7.5vw !important;
    border-radius: 30px !important;
}
.decision-title {
    font-size: 3.4rem !important;
}
.decision-btn {
    background-color: #F4AE3B !important;
}
/* decision end */

/* try */
.try-container {
    background-color: #EBEBEB !important;
}
/* try end */

/* footer */
.footer-container {
    color: #7C7C7C !important;
    background-color: #1B1B1B !important;
}
.footer-link {
    text-decoration: none !important;
    color: #7C7C7C !important;
}
/* footer end */


/* =================== RESPONSIVE =================== */

/* ========= Tablet ==========*/

@media screen and (max-width: 991.98px) { 
    .container {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
    }

    /* header */
    .header-title {
        font-size: 3.25rem !important;
    }
    .header-try {
        margin: 0 !important;
    }
    .header-try > div.col > a > img {
        width: 70% !important;
    }
    /* header-end */

    /* intro */
    .intro-container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    /* intro end */

    /* analytics */
    .accordion-body > p {
        line-height: 1.5 !important;
    }
    /* analytics end */

    /* data */
    .data-card {
        margin-bottom: 20px !important;
    }
    /* data end */

    /* footer */
    .footer-flex {
        flex-direction: column !important;
        align-items: center !important;
    }
    .footer-link  {
        margin-bottom: 20px !important;
    }


    
}
